@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply font-mono text-indigo-950 bg-indigo-200;
  }

  .dark body {
    @apply bg-indigo-950 text-indigo-50;
  }
}
