@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply font-mono text-sky-950 bg-sky-200;
  }

  .dark body {
    @apply bg-sky-950 text-sky-50;
  }
}
